if SHIELD_DELTA_OMEGA_LEFT

config ZMK_KEYBOARD_NAME
    default "Delta Omega"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DELTA_OMEGA_LEFT || SHIELD_DELTA_OMEGA_RIGHT

config ZMK_SPLIT
    default y

endif

if SHIELD_DELTA_OMEGA_DONGLE || SHIELD_DELTA_OMEGA_LEFT_W_DONGLE

config ZMK_SPLIT
    default y

endif # SHIELD_DELTA_OMEGA_DONGLE || SHIELD_DELTA_OMEGA_LEFT_W_DONGLE

if SHIELD_DELTA_OMEGA_DONGLE

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_KEYBOARD_NAME
    default "Delta Omega ZDD"


endif # SHIELD_DELTA_OMEGA_DONGLE
