if SHIELD_DELTA_OMEGA_LEFT

config ZMK_KEYBOARD_NAME
    default "Delta Omega"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

config ZMK_BLE
    default n

endif

if SHIELD_DELTA_OMEGA_RIGHT

config ZMK_USB
    default n

config ZMK_BLE
    default y

endif

if SHIELD_DELTA_OMEGA_LEFT || SHIELD_DELTA_OMEGA_RIGHT

config ZMK_SPLIT
    default y

endif
