if SHIELD_URCHIN_LEFT

config ZMK_KEYBOARD_NAME
    default "Urchin"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_URCHIN_LEFT || SHIELD_URCHIN_RIGHT

config ZMK_SPLIT
    default y

endif

if SHIELD_URCHIN_DONGLE || SHIELD_URCHIN_LEFT_W_DONGLE

config ZMK_SPLIT
    default y

endif # SHIELD_URCHIN_DONGLE || SHIELD_URCHIN_LEFT_W_DONGLE

if SHIELD_URCHIN_DONGLE

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_KEYBOARD_NAME
    default "Urchin ZDD"


endif # SHIELD_URCHIN_DONGLE
