/* Currency*/

ZMK_UNICODE_SINGLE(curr_dollar,             N0, N0, N2, N4) // $ (Dollar)
ZMK_UNICODE_SINGLE(curr_cent,               N0, N0,  A, N2) // ¢ (Cent)
ZMK_UNICODE_SINGLE(curr_pound,              N0, N0,  A, N3) // £ (Pound)
ZMK_UNICODE_SINGLE(curr_currency,           N0, N0,  A, N4) // ¤ (Currency)
ZMK_UNICODE_SINGLE(curr_yen,                N0, N0,  A, N5) // ¥ (Yen)
ZMK_UNICODE_SINGLE(curr_armenian_dram,      N0, N5, N8,  F) // ֏ (Armenian Dram)
ZMK_UNICODE_SINGLE(curr_afghani_dram,       N0, N6, N0,  B) // ؋ (Afghani)
ZMK_UNICODE_SINGLE(curr_nko_dorome,         N0, N7,  F,  E) // ߾ (Nko Dorome)
ZMK_UNICODE_SINGLE(curr_bengali_rupee1,     N0, N9,  F, N2) // ৲ (Bengali Rupee Mark)
ZMK_UNICODE_SINGLE(curr_bengali_rupee2,     N0, N9,  F, N3) // ৳ (Bengali Rupee)
ZMK_UNICODE_SINGLE(curr_bengali_ganda,      N0, N9,  F,  B) // ৻ (Bengali Ganda Mark)
ZMK_UNICODE_SINGLE(curr_gujarati_rupee,     N0,  A,  F, N1) // ૱ (Gujarati Rupee)
ZMK_UNICODE_SINGLE(curr_tamil_rupee,        N0,  B,  F, N9) // ௹ (Tamil Rupee)
ZMK_UNICODE_SINGLE(curr_thai_baht,          N0,  E, N3,  F) // ฿ (Thai Baht)
ZMK_UNICODE_SINGLE(curr_khmer_riel,         N1, N7,  D,  B) // ៛ (Khmer Riel)
ZMK_UNICODE_SINGLE(curr_colon,              N2, N0,  A, N1) // ₡ (colon)
ZMK_UNICODE_SINGLE(curr_cruzeiro,           N2, N0,  A, N2) // ₢ (Cruzeiro)
ZMK_UNICODE_SINGLE(curr_french_franc,       N2, N0,  A, N3) // ₣ (French Franc)
ZMK_UNICODE_SINGLE(curr_lira,               N2, N0,  A, N4) // ₣ (Lira)
ZMK_UNICODE_SINGLE(curr_mill,               N2, N0,  A, N5) // ₥ (Mill)
ZMK_UNICODE_SINGLE(curr_naira,              N2, N0,  A, N6) // ₦ (Naira)
ZMK_UNICODE_SINGLE(curr_peseta,             N2, N0,  A, N7) // ₧ (Peseta)
ZMK_UNICODE_SINGLE(curr_legacy_rupee,       N2, N0,  A, N8) // ₨ (Legacy Rupee)
ZMK_UNICODE_SINGLE(curr_won,                N2, N0,  A, N9) // ₩ (Won)
ZMK_UNICODE_SINGLE(curr_new_sheqel,         N2, N0,  A,  A) // ₪ (New Sheqel)
ZMK_UNICODE_SINGLE(curr_dong,               N2, N0,  A,  B) // ₫ (Dong)
ZMK_UNICODE_SINGLE(curr_euro,               N2, N0,  A,  C) // € (Euro)
ZMK_UNICODE_SINGLE(curr_kip,                N2, N0,  A,  D) // ₭ (Kip)
ZMK_UNICODE_SINGLE(curr_tugrik,             N2, N0,  A,  E) // ₮ (Tugrik)
ZMK_UNICODE_SINGLE(curr_drachma,            N2, N0,  A,  F) // ₯ (Drachma)
ZMK_UNICODE_SINGLE(curr_german_penny,       N2, N0,  B, N0) // ₰ (German Penny)
ZMK_UNICODE_SINGLE(curr_peso,               N2, N0,  B, N1) // ₱ (Peso)
ZMK_UNICODE_SINGLE(curr_guarani,            N2, N0,  B, N2) // ₲ (Guarani)
ZMK_UNICODE_SINGLE(curr_austral,            N2, N0,  B, N3) // ₳ (Austral)
ZMK_UNICODE_SINGLE(curr_hryvnia,            N2, N0,  B, N4) // ₴ (Hryvnia)
ZMK_UNICODE_SINGLE(curr_cedi,               N2, N0,  B, N5) // ₵ (Cedi)
ZMK_UNICODE_SINGLE(curr_livre_tournois,     N2, N0,  B, N6) // ₶ (Livre Tournois)
ZMK_UNICODE_SINGLE(curr_spesmilo,           N2, N0,  B, N7) // ₷ (Spesmilo)
ZMK_UNICODE_SINGLE(curr_tenge,              N2, N0,  B, N8) // ₸ (Tenge)
ZMK_UNICODE_SINGLE(curr_indian_rupee,       N2, N0,  B, N9) // ₹ (Indian Rupee)
ZMK_UNICODE_SINGLE(curr_turkish_lira,       N2, N0,  B,  A) // ₺ (Turkish Lira)
ZMK_UNICODE_SINGLE(curr_nordic_mark,        N2, N0,  B,  B) // ₻ (Nordic Mark)
ZMK_UNICODE_SINGLE(curr_manat,              N2, N0,  B,  C) // ₼ (Manat)
ZMK_UNICODE_SINGLE(curr_ruble,              N2, N0,  B,  D) // ₽ (Ruble)
ZMK_UNICODE_SINGLE(curr_lari,               N2, N0,  B,  E) // ₾ (Lari)
ZMK_UNICODE_SINGLE(curr_bitcoin,            N2, N0,  B,  F) // ₿ (Bitcoin)
ZMK_UNICODE_SINGLE(curr_som,                N2, N0,  C, N0) // ⃀ (Som)
ZMK_UNICODE_SINGLE(curr_north_indic_rupee,   A, N8, N3, N8) // ꠸ (North Indic Rupee)
ZMK_UNICODE_SINGLE(curr_rial,                F,  D,  F,  C) // ﷼ (Rial)
ZMK_UNICODE_SINGLE(curr_wancho_ngun,         F,  D,  F,  C) // 𞋿 (Wancho Ngun)
